<div id="divCentro">
    <br>
    <form id="form" [formGroup]="form">
        <h1><b>Manter Tecnologia</b></h1>
        <br>
        <div>
            <mat-form-field [style.width.px]="556">
                <mat-label><span>ID</span></mat-label>
                <input matInput type="string" maxlength="50" formControlName="id" readonly="true">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field [style.width.px]="556">
                <mat-label><span>Descrição</span></mat-label>
                <input matInput type="string" maxlength="50" formControlName="descricao">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button class="botao" (click)="salvarTecnologia()">Salvar</button>
        </div>
        <br>
        <br>
        <br>
        <br>
        <h1>Lista Tecnologias</h1>
        <br>
        <table class="tabela">
            <tr class="linhaTabela">
                <td class="colunaTabelaAzul"><b>ID</b></td>
                <td class="colunaTabelaAzul"><b>Descricao</b></td>
                <td class="colunaTabelaVermelho"></td>
            </tr>
            <tr class="linhaTabela" *ngFor="let tecnologia of tecnologias; let i = index">
                <td class="colunaTabela">
                    <a (click)="preencherTecnologia(tecnologia.id)" class="linkAzul">{{tecnologia.id}}</a>
                </td>
                <td class="colunaTabela">
                    {{tecnologia.descricao}}
                </td>
                <td class="colunaTabela">
                    <a class="linkVermelho" (click)="excluirTecnologia(tecnologia.id)"><b>X</b></a>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <br>
    <br>
</div>