.cabecalho {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.corpo {
  margin-left: 100px;
  margin-right: 100px;
  
}

.rodape {
    margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}