@import '~@aws-amplify/ui-angular/theme.css';

body {
    font-family: 'Trebuchet MS', sans-serif;
}

#divCentro {
  display: grid;
}

#form{
  padding: 20px;
  position: relative;
  place-self: center;
  width: 60rem;
  box-shadow: var(--amplify-shadows-medium);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.botao {
  color: white;background-color: black;
}

.colorBlack {
  color: black;
}

.matToolBar {
  padding: 0; 
  background-color: white; 
  color: white;
}

.colorWhite {
  color: white;
}

html{
    padding-left: 10%;
    padding-right: 10%;
}

.tabela {
  width: 100%;   
  border: 2px solid black;   
  border-collapse: collapse;
}

.linhaTabela {
  text-align: center; 
  border: 2px solid black;   
  border-collapse: collapse;
}

.colunaTabelaAzul {
  border: 2px solid black;   
  border-collapse: collapse;
  background-color: #35cbfb;
}

.colunaTabelaVermelho {
  border: 2px solid black;   
  border-collapse: collapse;
  background-color: red;
}

.colunaTabela {
  border: 2px solid black;   
  border-collapse: collapse;
}

.linkAzul {
  color: blue; 
  cursor:pointer;
}

.linkVermelho {
  color: red; 
  cursor:pointer;
}


button{
    display: block;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    outline: none;
    width: 211px;
    height: 56px;
    min-height: 33px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(3, 3, 3);
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    line-height: 13px;
    padding: 0px;
    border-radius: 0px;
    border: 0px;
}

.amplify-button[data-variation='primary'] {
  background: #33cbfd;
}